@font-face {
    font-display: swap;
    font-family : 'Podkova';
    font-size   : normal;
    font-weight : 400;
    src         : url('/public/fonts/Podkova.ttf') format('truetype');

}

@font-face {
    font-display: swap;
    font-family : 'TDIzbushka';
    font-size   : normal;
    font-weight : 400;
    src         : url('/public/fonts/TDIzbushka.otf') format('opentype');

}